$custom-colors: (
  'primary'   : $primary,
  'secondary' : $secondary,
  'tertiary'  : $tertiary,
  'quaternary': $quaternary,
  '525252'    : #525252,
  '838383'    : #838383,
  '959595'    : #959595,
  'ffffff'    : #ffffff,
  'red'       : $red,
);

@each $key, $value in $custom-colors {
  .color-#{$key} {
    color: $value !important;
  }

  .color-normal-#{$key}:not(:active):not(:hover):not(:focus) {
    color: $value
  }
}

$custom-background-colors: (
  'primary': $primary,
  'ffffff': #ffffff,
);

@each $key, $value in $custom-background-colors {
  .bg-#{$key} {
    background-color: $value;
  }
}