input {
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  &::placeholder {
    color: #979797;
  }

  &:focus {
    outline: none;
    border: 1px solid $primary;
    // box-shadow: 1px 1px 1px 1px $primary;
  }

}

.border-t-ffffff {
  border-top: 1px solid #ffffff;
}


.terms {
  text-decoration: underline;
}

.register {
  max-width: 486px;
  background-color: #ffffff;
  border: 1px solid #DEDEDE;
  border-radius: 9px;

  input[type=text], 
  input[type=password],  
  input[type=email] {
    padding: 14px 14px;
  }

  // input[type=checkbox]  {
  //   border: 2px solid #dedede;
  //   clip: rect(0 0 0 0);

  // } 
}

.popular-member-card {
  width: 33%;
  @media only screen and (min-device-width: $break-point) {
    width: 20%;    
  }
}

.completed-collabo-card {
  width: 25%;
  height: 208px;
}

.input-icon-container input {
  outline: none;
  border: none;
  background: none;
  // font-size: 1em;
  padding: .5em;
  color: inherit;
  flex : auto 1 1;
  width : 100%;
  background : none;
  background-color : transperant;
}

.input-icon-container {
  display: flex;
  flex-direction: row;
  border: 1px solid #dedede;
  border-radius: 3px;
  background : #fff;
  align-items : center;
  overflow: hidden;
  // &:focus {
  //   outline: none;
  //   border: 1px solid $primary;
  //   // box-shadow: 1px 1px 1px 1px $primary;
  // }
}

.input-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.custom-checkbox {
  & [type=checkbox] {
    width: 20px;
    height: 20px;
    border-radius: 20px !important;
    border: 2px solid #dedede;
    // clip: rect(0 0 0 0);

    &:checked {
      border-color: 2px solid $primary !important;
      background-color: $primary !important;
    }
  }
}


/// display
.d-none {
  display: none;
}

.d-block {
  display: block;
}


/// MODAL
.modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // z-index: 999;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 504px;
  height: 648px;
  // padding: 60px 80px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}
