input {
  border: 1px solid;
  border-radius: 24px;

  &:focus {
    outline: none;
    border: 1px solid $primary;
    // box-shadow: 1px 1px 1px 1px $primary;
  }

}

.terms {
  text-decoration: underline;
}

.register {
  
  @media only screen and (min-device-width: $break-point) {
    max-width: 400px;
  }
}

.border-t-ffffff {
  border-top: 1px solid #ffffff;
}